<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>
  <div class="wrapper">
    <div class="footer-col-wrapper">
	    <div class="footer-col footer-col-1">
              &copy; Limehouse Labs Ltd.<br>
              <a href="/company">Statutory information</a>.
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li><a href="https://github.com/limehouselabs" rel="me"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#github"></use></svg> <span class="username">limehouselabs</span></a></li>
          <li><a href="https://chaos.social/@limehouselabs" rel="me"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#mastodon"></use></svg> <span class="username">limehouselabs</span></a></li></ul>
      </div>
    </div>
  </div>
</footer>
