---
# Only the main Sass file needs front matter (the dashes are enough)
---

$grey-color-dark: #162212;
$grey-color-light: #ADC7A5;
$brand-color: #7E9078;

@import 'minima';

.logo {
  width: 40px;
  height: 40px;
  margin-bottom: 5px;
  margin-right: 5px;
}

.intro-text {
  font-size: 1.2em;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
  padding: 0 1rem;
}

.gallery img {
  width: 200px;
  height: auto;
  border: 1px solid #666;
  border-radius: 2px;
}